body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto';

}

.main_container{
    margin: auto;
    border: 1px solid grey;
    border-bottom: 0px;
    max-width: 1550px;
    border-radius: 5px 5px 0px 0px;
}

header{
    display: flex;
    max-width: 1550px;
    height: 59px;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    color: #fff;
    
    padding: 0px 6px;
    font-size: 15px;
}
header > div{
    display: flex;
}
header > div > p{
    margin-left: 16px;
}
i{
    margin-top: 2px;
    color: rgb(243, 241, 241);
}

.img{
    color: white;
    border: 1px solid red;
    display: block;
    height: 50px;
    width: 50px;
    background-image: url("https://imagescdn.reebok.in/img/app/brands/superapp/Icons/icon_sprite.png")
}
.right_bar{
    display: flex;
    align-items: center;
    position: relative;
}
.right_bar > span{
    line-height: normal;
    height: 50px;
    align-content: center;
    padding-right: 20px;
    position: relative;
}
.right_bar > span::after{
    content: " ";
    position: absolute;
    right: 0;
    top: 14px;
    width: 1px;
    height: 25px;
    background: #555;
}

.Birla{
    background-position: -4.8% 29.6%;
    background-size: 259%;
    margin-top: 5px;
    margin-bottom: 5px;
    display: block;
    height: 49px;
    width: 45px;
    background-image: url(https://imagescdn.reebok.in/img/app/brands/superapp/Icons/sprite_logo_header_2.png);
}
.icon{
    display: block;
    height: 50px;
    width: 50px;
    background-image: url(https://imagescdn.reebok.in/img/app/brands/superapp/Icons/icon_sprite.png);
    background-size: 200%;
    background-repeat: no-repeat;
    max-width: 100%;
    position: relative;
}
.icon:nth-of-type(1){
    background-position: 3.5% 31.75%;
}
.icon:nth-of-type(2){
    background-position: 3.5% 27.9%;
}
.icon:nth-of-type(3){
    background-position: 3.5% 3.8%;
}
.icon:nth-of-type(4){
    background-position: 3.5% 19.9%;
}
.icon:nth-of-type(4)::after{
        content: " ";
        position: absolute;
        right: 0;
        top: 14px;
        width: 1px;
        height: 25px;
        background: #555;
}
.icon:nth-of-type(5){
    background-position: 3.5% 73.55%;
}

.wishlist{
    display: block;
    height: 50px;
    width: 50px;
    background-image: url(https://imagescdn.reebok.in/img/app/brands/superapp/Icons/icon_sprite.png);
    background-position: 3.5% 19.9%;
    background-size: 200%;
    background-repeat: no-repeat;
    max-width: 100%;
}
.login{
    display: block;
    height: 50px;
    width: 50px;
    background-image: url(https://imagescdn.reebok.in/img/app/brands/superapp/Icons/icon_sprite.png);
    background-position: 3.5% 3.8%;
    background-size: 200%;
    background-repeat: no-repeat;
    max-width: 100%;
}
.contact{
    display: block;
    height: 50px;
    width: 50px;
    background-image: url(https://imagescdn.reebok.in/img/app/brands/superapp/Icons/icon_sprite.png);
    background-position: 3.5% 27.9%;
    background-size: 200%;
    background-repeat: no-repeat;
    max-width: 100%;
}

nav{
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    max-width: 1400px;
    height: 90px;
    color: #0c2340;
    font-weight: 400;
    font-size: 14px;
    margin: auto;
    /* border: 1px solid red; */
    box-sizing: border-box;
}

nav > div > img{
    /* max-width: 160px; */
    height: 21px;
    margin-top: 10px;
    position: relative;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    object-fit: contain;
    
}
.links{
    width: 580px;
    display: flex;
    margin-right: 20px;
}
.links > a{
    text-decoration: none;
    font-weight: 500;
    padding-top: 30px;
    font-size: 18px;
    padding-bottom: 25px;
    padding-left: 25px;
    text-align: center;
    display:flex;
    align-items: center;
    letter-spacing: 0.00938em;
    /* width: auto; */
    box-sizing: border-box;
    margin: 0px;
    color: #0c2340;
    border-bottom: 5px solid transparent;
}
.links > a:last-child{
    padding-top: 30px;
    padding-bottom: 25px;
    padding-right: 20px;
    padding-left: 20px;
    display: inline-block;
    text-align: center;
}

.links a:hover {
    font-weight: 1000;
    text-underline-offset: 10px;
    text-decoration: solid underline rgb(196,12,47) 4px;
    text-decoration-line: 50%;
}

.right_side{
    display: flex;
    align-items: center;
    justify-content: center;
}

.search{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #070707;
    
    position: relative;
    box-sizing: border-box;
    /* font-size: 20px; */
    color: #0c2340;
    background: transparent;
    padding: 0px;
    /* align-content: flex-end; */
}

input{
    
    /* width: 105px; */
    padding: 0px;
    border: none;
    font-size: 20px;
    color: #0c2340;
    margin: 5px 0px 0px 0px;
    width: 150px;
}

.icon1{
    display: block;
    height: 50px;
    width: 50px;
    background-image: url(https://imagescdn.reebok.in/img/app/brands/superapp/Icons/icon_sprite.png);
    background-position: 2% 35.25%;
    background-size: 200%;
    background-repeat: no-repeat;
    color: #000;
}

.Button{
    display: flex;
    align-items: center;
    color: #fff;
    display: flex;
    align-items: center;
    border-radius: 25px;
    padding: 2px;
    width: 280px;
    padding: 5px;
    margin-left: 30px;
    background-color: #c40c2f;
}

.Button > div{
    display: block;
}

.Button > div:nth-of-type(2) > h4,p{
    margin: 0px;
    padding: 0px;
}

.icon3{
    height: 45px;
    width: 45px;
    background-image: url(https://imagescdn.reebok.in/img/app/brands/superapp/Icons/icon_sprite.png);
    background-position: 3.5% 43.75%;
    background-size: 100%;
    background-repeat: no-repeat;
}

.Button > div:nth-of-type(2) > p{
    font-size: 13px;
    color: #fff;
    opacity: 80%;
    font-weight: normal;
    line-height: normal;
}
.Button > div:nth-of-type(2) > h4{
    text-transform: uppercase;
    line-height: normal;
    font-size: 15px;
    letter-spacing: 1px;
}
.body{
    margin: auto;
    position: relative;
    max-width: 1552px;
    border: 1px  solid grey;
    border-top: 0px;
    border-radius: 0px 0px 5px 5px;
    padding: 40px 60px;
    box-sizing: border-box;
    display: flex;
    gap: 25px;
}
.box{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    row-gap: 5px;
    width: 25%;
    box-sizing: border-box;
    background-color: #fff;
}
.img0{
    background-image: url("https://imagescdn.reebok.in/img/app/product/3/39625241-12877101.jpg?q=75&auto=format&w=387");
    background-position: 50%;
    background-size: cover;
    height: 470px;
    width: 100%;
}
.box span{
    font-size: 12px;
    font-weight: 500;
    position: relative;
    top: -25px;
    padding: 10px;
    background-image: linear-gradient(285deg, rgb(46, 164, 224), rgb(49, 198, 132));
    color: rgb(255, 255, 255);
    border-radius: 2px;
}
.img1{
    background-image: url("https://imagescdn.reebok.in/img/app/product/3/39622095-12725815.jpg?q=75&auto=format&w=387");
    background-position: 50%;
    background-size: cover;
    height: 470px;
    width: 100%;
}
.img2{
    background-image: url("https://imagescdn.reebok.in/img/app/product/3/39625239-12877085.jpg?q=75&auto=format&w=387");
    background-position: 50%;
    background-size: cover;
    height: 470px;
    width: 100%;
}
.img3{
    background-image: url("https://imagescdn.reebok.in/img/app/product/3/39621981-12721832.jpg?q=75&auto=format&w=387");
    background-position: 50%;
    background-size: cover;
    height: 470px;
    width: 100%;
}
.box > div > img{
    width: 60px;
    height: 60px;
    margin-left: 170px;
    cursor: pointer;
}
.box > p:nth-child(2){
    font-size: 16px;
    display: flex;
    justify-items: left;
    margin-top: 10px;
    
}
.box > img{
    position: relative;
    height: 50px;
    top:-35px;
    left: 290px;
    cursor: pointer;
}
.box > p:nth-child(4){
    font-size: 17px;
    margin-top: -55px;
}
.box > p:nth-child(5){
    font-size: 17px;
    font-size: larger;
    font-weight: 500;
    margin-top: 5px;
}
.body > img:nth-child(5){
    position: absolute;
    width: 60px;
    height: 30px;
    top:510px;
    left: 1450px;
    border-radius: 6px;
    background-color: rgb(228, 224, 224);
    cursor: pointer;
}
.body > img:nth-child(6){
    position: absolute;
    height: 70px;
    top:535px;
    left: 1460px;
    cursor: pointer;
}